<div id='new_session'class="card col-md-offset-4">
  <div class="card-block">
    <%= form_for @user, url: sessions_path do |f| %>
      <h4 class='card-title text-left'>Log in</h4>
      <div class="form-group">
        <%= f.text_field :email, class:"form-control", placeholder: :email %>
      </div>
      <div class="form-group text-left">
        <%= f.password_field :password, class:"form-control", placeholder: :password %>
      </div>
      <div class="form-group text-left">
      </div>
      <div class="form-group">
        <%= f.submit "Log me in!", class:'btn btn-success' %>
      <% end %>
      <br> Or </br>
      <%= button_to "Log in with Facebook", facebook_login_path, method: 'get', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
