<nav id="nav" class="navbar navbar-default" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav">
    <% if logged_in? %>
    <div class="list-inline pull-left" id="user-left">
      <li class="list-group-item"><%= link_to "Home", root_path %></li>
      <li class="list-group-item"><%= link_to "Profile", profile_path %></li>
      <li class="list-group-item"><%= link_to "Recipe Box", recipes_path  %></li>
    </div>
    <div class="list-inline pull-right" id="user-right">
    <li class="list-group-item"><%= link_to "Logout", session_path(current_user), method: 'delete' %></li>
  </div>
    <% else %>
    <div class="list-inline pull-left" id="guest-left">
      <li class="list-group-item"><%= link_to "Home", root_path %></li>
      </div>
      <div class="list-inline pull-right" id="guest-right">
        <li class="list-group-item"><%= link_to "Log in", new_session_path %></li>
        <li class="list-group-item"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
</div>
</nav>
